.main{
  display: flex;
  flex-wrap: wrap;
}

.card{
  max-width: 300px;
  margin: 10px auto;  
}

/*@media (min-width: 768px){
  .card{
    max-width: 300px;
    padding: 10px 10px 10px 10px;
  }
}*/